<h2>Login</h2>


<main class= "login">
    <h2>Login or Create a Profile</h2>
        <div class= "login-entry">
            <section class="landing-page" id="login">
                <form method="POST" action="/auth/login">
                    <label for="auth-email">Email</label>
                    <input type="email" id="auth-email" name="email">
                    <br>
                    <label for="auth-password">Password</label>
                    <input type="password" id="auth-password" name="password">
                    <br>
                    <input type="submit" value="Log In">
                </form>
            </section>
            <section class="landing-page" id="signup">
            <form id = "enter-credentials">
                <label for="user">Enter Email:</label>
                <input id="user" name="user" type="text"><br>
                <label for="gamertag">Enter Gamertag:</label>
                <input id="gamertag" name="gamertag" type="text"><br>
                <label for="password">Choose Password:</label>
                <input id="password" name="password" type="text"><br>
                <input type="submit" value="Create Profile">
            </form>
        </section>
        </div>
</main>