<h2>LANDING PAGE</h2>


<main class= "login">
    <h3>CREATE A PROFILE: </h3>
        <div class= "login-entry">
            <section class="landing-page" id="signup">
                <form method="POST" action="/auth/signup" class="auth-form">
                    <label for="new-gamertag">Gamertag</label>
                    <input type="text" name="gamertag" id="new-gamertag">
                <br>
                    <label for="new-email">Email</label>
                    <input type="email" name="email" id="new-email">
                <br>
                    <label for="new-password">Password</label>
                    <input type="password" name="password" id="new-password">
                <br>
                    <input type="submit" value="Sign Up">
                </form>
        </section>
        </div>
</main>