<h2>MY ACCOUNT INFO: <%= currentUser.dataValues.gamertag %> </h2>
<p>
    Id: <%= currentUser.dataValues.id %> <br>
    Email:<%= currentUser.dataValues.email %> <br>
    Gamertag:<%= currentUser.dataValues.gamertag %> <br>
</p>

