<h2> <%= currentUser.dataValues.gamertag %> 's Account</h2>

<h3>Account Info</h3>
<p>
    Id: <%= currentUser.dataValues.id %> <br>
    Email:<%= currentUser.dataValues.email %> <br>
    Gamertag:<%= currentUser.dataValues.gamertag %> <br>
</p>

