<h2>HOME</h2>

<div class="page-display row">
    <h3>QUICK SEARCH:</h3>
    <form method="POST" action="/" id="gamertagSearch">
        <label for="gamertag">Stats by Gamertag:</label>
        <input id="gamertag" name="gamertag" type="text">
        <select id="game" name="game" form="gamertagSearch">
            <option value="haloMCC">Halo MCC</option>
            <option value="halo5">Halo 5</option>
            <option value="haloW2">Halo Wars 2</option>
        </select>
        <input type="submit" value="GO" class="page-disp-button">
    </form>
    <%- include('partials/quickSearchResults.ejs') %> 
</div>
    
</section>
<main id="homepage">
    <div class="row" id="homepage-row">
        <div class="column" id="homepage-column">
            <h2>Halo 5</h2>
            <% if (currentUser) {%>
                <li><a href="/profile/">Go to Profile</a></li>
                <br> 
                <br>
                <li><a href="/h5/stats">Recent Games</a></li> 
                <br>
                <li><a href="/h5/strategies">Strategies</a></li> 
                <br>
            <% } else { %>
                <a href="/auth/login">Sign-in</a> or <a href="/auth/signup">Create an Account</a> to Save Game Info!                 <br>
                <br>
           <% } %>
            <a href="/h5/maps">See Maps</a><br>
            <a href="/h5/weapons">See Weapons</a><br>
            <a href="/h5/gameBaseVariants">See Game Variants</a><br>
        </div>
        <div class="column"id="homepage-column">
            <h2>Halo MCC</h2>
            <% if (currentUser) {%>
                <li><a href="/profile/">Go to Profile</a></li>
                <br> 
                <br>
                <li><a href="/mcc/hist">Recent Games</a></li> 
                <br>
                <li><a href="/mcc/strategies">Strategies</a></li> 
                <br>
            <% } else { %>
                <a href="/auth/login">Sign-in</a> or <a href="/auth/signup">Create an Account</a> to Save Game Info! 
           <% } %>

        </div>
        <div class="column" id="homepage-column">
            <h2>Halo Wars 2</h2>
            <p>(Coming soon...)</p>
        </div>
        
    </div>
</main>


