*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
   border: 1px solid black;
   background-color: rgba(19, 32, 76, 0.527);
   text-align: center;

}
h1{
   font-family: 'Gruppo', cursive;
}
#special-ha {
   font-family: 'Expletus Sans', cursive;

}
#special-o {
   font-family: 'Macondo Swash Caps', cursive;
   font-size: 110%;
}
#special-l {
font-family: 'MuseoModerno', cursive; }

.header{
   display: inline;
}
h2.header{
   float: left;
   margin: -30px 0 0 20px;
}
body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: rgba(71, 164, 204, 0.452);
    color: black;
    text-shadow: 1pt 1pt rgba(248, 248, 248, 0.378);
 }

 /* font-family: 'Cute Font', cursive;
 font-family: 'Macondo Swash Caps', cursive;
 font-family: 'Expletus Sans', cursive; ---FOR THE HA
 font-family: 'MuseoModerno', cursive; ---FOR THE L
font-family: 'Baloo Tammudu 2', cursive;*/

 main {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    font-family: 'Baloo Tammudu 2', cursive;
 }
 h2,h3 {
   font-family: 'Cute Font', cursive;
    color: black;
    text-shadow: 1pt 1pt rgba(19, 32, 76, 0.377);
 }
  
 nav {
    float:right;
    display: inline;
    font-family: 'Cute Font', cursive;
    font-size: smaller;
    margin: -33px 10px;
    text-shadow: .5pt .5pt rgba(0, 0, 0, 0.425);
 }
 a:link{
   color: white;
   }
a:visited{
   color: rgb(60, 231, 180);
}

 li {
    list-style-type: none;
    display: inline;
    font-family: 'Baloo Tammudu 2', cursive;
    
 }
 
 .login {
    width: 800px;
   margin: 0 auto;
   text-align: center;
   display: flexbox;
   flex-direction: column;
}

.login-entry{
   /* border: 1px solid black; */
   display: flexbox;
   flex-direction: row;
}
 .landing-page {
   border: 1px solid black;
   width: 45%;
   display: inline-block;
 }

 .game-item{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-basis: 1fr 1fr;
 }

 #game-item-desc {
   min-width: 600px;
   min-height: 180px;
 }

#img-with-name {
   text-align: center;
   padding: -10px auto;

}

 .item-wrapper{
   display: inline-flex;
 }

.nav-dropdown{
   position: relative;
   display: inline-block;
}

.drop-btn {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    border: rgba(240, 248, 255, 0);
    border-radius: 6px;
    font-family: 'Baloo Tammudu 2', cursive;
    color: aliceblue;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.747);
    padding: 0 0;
}

.drop-btn:hover, .drop-btn:focus {
    color: rgb(19, 44, 71);
 }

.dropdown-options{
   display: none;
   position: absolute;
   margin-top: -9px;
   background-color: rgba(19, 44, 71, 0.938);
   z-index: 1;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.705);
   padding-left: 0;
   border-bottom: .5px solid aliceblue;
   min-width: 140px;
}

.dropdown-options a {
   color:  aliceblue;
   display:block;
   border-style: solid;
   border-color: rgb(255, 255, 255);
   border-width: .5px 1px 0px 1px;
   width: auto;
   padding: 0 0 0 0;
   font-size: smaller;
   margin-left: 0;
   text-shadow: .75px .75px rgba(0, 0, 0, 0.774);
}

.dropdown-options a:hover {
   background-color:rgba(59, 96, 134, 0.438);
}

#myProfileOptions{
   right: 0;
}
.submenu {
   margin-left: 30px;
   margin-top: 0px;
   background-color: rgba(39, 84, 133, 0.678);
}

.show {
   display: block;
}

.column {
   float: left;
   width: 45%;
   height: 100%;
   margin: 2%;
   padding: 3%;
   background-color: rgba(255, 255, 255, 0.25);
   border-radius: 6px;
   box-shadow: 1px 1px black;
   border: .5px solid black;
 }

.tabentry{
   background-color: rgba(57, 57, 57, 0.3);
   padding: 3%;
   margin: 2%;
   border-radius: 4px;
   box-shadow: 1px 1px black;
   width: 100%;
   border: .5px solid black;
}
.entry-data{
   background-color: rgba(255, 255, 255, 0.3);
   padding: 3%;
   margin: 2%;
   border-radius: 3px;
   border: .5px solid black;
   box-shadow: 1px 1px rgba(0, 0, 0, 0.303);
}
 .row{
   width: 100%;
   height: 100%;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 #homepage{
    width: 100%;
    background-color: rgb(66, 84, 122);
 }
 
 #homepage-row{
   height: 1000px;
   /* overflow: scroll; */
 }
#homepage-column{
   height: 40%;
}

.page-display{
   border: 1px solid black;
   background-color: rgb(171, 171, 171);
   width: auto;
   height: 100%;
   margin: 2%;
   padding: 3%;
   /* background-color: rgba(255, 255, 255, 0.25); */
   border-radius: 6px;
   box-shadow: 1px 1px black;
}

.profile-container{
   background-color: rgba(167, 167, 167, 0.759);
   border: 1px solid black;
}

.auth-form{
   background: rgb(177, 196, 196);
}

.enter-strategy{
   width: 60%;
   height: 200px;
}

/* Style the game-tabs */
.game-tabs {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   float: initial;
 }
 
 /* Style the buttons that are used to open the game-tabs content */
 .game-tabs button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
 }
 
 /* Change background color of buttons on hover */
 .game-tabs button:hover {
   background-color: #ddd;
 }
 
 /* Create an active/current tablink class */
 .game-tabs button.active {
   background-color: #ccc;
 }
 
 /* Style the game-tabs content */
 .tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid #ccc;
   border-top: none;
   width: 100%;
 }

 .tabcontent {
   animation: fadeEffect 1s; /* Fading effect takes 1 second */
 }
 
 .game-matches{
    height: 700px;
    overflow: scroll;
 }

 /* Go from zero to full opacity */
 @keyframes fadeEffect {
   from {opacity: 0;}
   to {opacity: 1;}
 }
figure{
   display: inline-block;
   margin: 0 auto;
   position: relative;
   left: 20%;
}
figcaption{
   text-align: center;
   position: relative;
   bottom: 15px;
}
#items-list{
   width: 100%;
}
.span-tab{
   display: inline-block;
   width: 100%;
   text-align: right;
   font-size: 9pt;
}
.page-disp-button{
   background-color: rgb(79, 126, 177);
   border: .5px solid black;
   box-shadow: 1px 1px rgba(0, 0, 0, 0.536);
   font-family: 'Cute Font', cursive;
   text-shadow: 1px 1px rgba(0, 0, 0, 0.536);
   color: rgb(255, 255, 255);
}